.list {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1em;
  padding: 0.5em;
  border-color: navy;
  border-style: solid;
}

.completed-list {
  font-size: large;
  border-color: brown;
  border-style: solid;
  text-decoration: line-through;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1em;
  padding: 0.5em;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
