.todo { 
    width: auto;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgb(226 232 240);
}

.no_task_paragraph {
    font-weight: 700;
}